
/**
 * Navigation
 */

.side-nav {
  float: left;
  position: relative;

  width:220px;

  background-color:#f7f7f7;
  padding:20px;

  nav > ul > li > a {
    margin:0 0 5px 0;
    font-weight:600;
  }

  ul {
      margin:0 0 1em 10px;
      li {
        font-size:12px;
        list-style-type:none;
        line-height:1.5rem;
      }
  }
}


article.post {
  margin-left:320px;
}
